# **Coursera Capstone**
### ML Truter

*This notebook documents the final capstone project of the IBM Data Science Professional Certificate*

In [125]:
# Modules for data wrangling
import numpy as np
import pandas as pd

# Matplotlib and associated plotting modules
import matplotlib.pyplot as plt 
import matplotlib.cm as cm
import matplotlib.colors as colors
import folium # Map plotting

# Module for other functionalty
import os
import json # library to handle JSON files
import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Modules for model building
from sklearn.cluster import KMeans

# Settings for modules
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 500)

In [83]:
os.listdir()

['.git',
 '.ipynb_checkpoints',
 'canadian_cities.csv',
 'capstone_project.ipynb',
 'cost_of_living_index.csv',
 'Geospatial_Coordinates.csv',
 'Neighborhood_Segmentation_Clustering.ipynb',
 'README.md',
 'test.py']

In [98]:
# Load data to be used
df_lcost = pd.read_csv('cost_of_living_index.csv') # Relative living cost metrics relative to New York (baseline = 100)
df_cities = pd.read_csv('canadian_cities.csv')

In [163]:
# Data Cleaning and merging
# Filter out only canadian cities from the df_lcost df
df_temp = pd.DataFrame()
df_temp = df_lcost.drop('City', axis=1)

df_temp['City'] = df_lcost['City'].apply(lambda x: x.split(',')[0].strip())
df_temp['Country'] = df_lcost['City'].apply(lambda x: x.split(',')[1].strip())

# Only keep Canadian cities 
df_temp = df_temp[df_temp['Country'] == 'Canada']
df_temp['City'] = df_temp['City'].apply(lambda x:x.replace('Quebec City', 'Quebec')) 

# Clean location and population df (naming of Montreal and Quebec)
df_cities['city'] = df_cities['city'].apply(lambda x:x.replace('é', 'e').strip())

# Merge dataframes
df_can = pd.merge(left=df_temp, right=df_cities, left_on='City', right_on='city', how='inner')
df_can = df_can.drop(['city', 'country', 'capital', 'Country', 'iso2', 'population_proper'], axis=1).reset_index()

# Reorder the columns more logically
df_can = df_can[['City', 'admin', 'lat', 'lng', 'population', 'Cost of Living Index', 'Rent Index', 'Local Purchasing Power Index']]
df_can = df_can.rename(columns={'City':'city', 'population':'pop', 'Cost of Living Index':'living_indx', 'Rent Index':'rent_indx', 'Local Purchasing Power Index':'ppi'})

In [164]:
# Top 5 Cities in Canada in terms of PPI
df_can.sort_values('ppi', ascending=False).head(5)

,city,admin,lat,lng,pop,living_indx,rent_indx,ppi
18,Ottawa,Ontario,45.416667,-75.700000,1145000,62.88,30.26,144.70
13,Quebec,Québec,46.800000,-71.250000,624177,65.07,16.10,140.18
7,Red Deer,Alberta,52.266667,-113.800000,74857,67.42,23.58,140.16
5,Calgary,Alberta,51.083333,-114.083333,1110000,68.93,29.85,138.51
23,Kitchener,Ontario,43.446976,-80.472484,417001,58.93,25.38,129.74

In [272]:
# Augment current df with data from the Foursquare API
# Foursquare API user details
CLIENT_ID = 'O0LIFMUBGPNZ4Y5NSWWC23OFU0QM3QMDLX32UN42DOAXXLVB'
CLIENT_CODE = '2J5PWAOXJKSTRSTPZBJMCFP1QMNQUU5NNRGGNSR2R45AK5X3'
VERSION = '20180605'
LIMIT = 100

def search_call_num_locs(city_lat, city_lng, radius, category_ids):
    """ Function that returns the number of venues of interest as defined by the catergory ids within the specified radius."""
   # Search for outdoor trails, ski trails, biking trails, outdoor gyms 
    params = dict(
      client_id=CLIENT_ID,
      client_secret=CLIENT_CODE,
      v=VERSION,
      ll='{}, {}'.format(city_lat, city_lng),
      radius=radius,
      intent='browse',
      categoryId=category_ids,
      limit=LIMIT
    )
    resp = requests.get(url=url_search, params=params)
    data = json.loads(resp.text)
    num_venues = len(data['response']['venues'])
    return num_venues

In [285]:
url_explore = 'https://api.foursquare.com/v2/venues/explore'
url_search = 'https://api.foursquare.com/v2/venues/search'

city_locs = pd.DataFrame(columns=['city', 'admin', 'outdoor', 'food', 'work_opp', 'entertainment', 'remoteness'])

# Determine category ids of locations of interest (from: https://developer.foursquare.com/docs/resources/categories)

# List of outdoor locations of interest
outdoor_loc_interest = ['4bf58dd8d48988d159941735', '4eb1c0f63b7b52c0e1adc2eb', '56aa371be4b08b9a8d57355e', '58daa1558bbb0b01f18ec203']
rad_outd = '20000' # Radius to search for outdoor locations (m)
# Food locations of interest
food_loc = ['4d4b7105d754a06374d81259']
rad_food = '3000' 
# Work opportunity locations of interest. Tech startups, corporate cafeteria and corporate coffee shops
work_loc = ['4bf58dd8d48988d125941735', '54f4ba06498e2cf5561da814', '5665c7b9498e7d8a4f2c0f06']
rad_work = '30000' 
# Entertainment locations of interest. Nightlife: Beer bar, whisky bar, nightclubs, wine bar and pubs
entertainm_loc = ['4bf58dd8d48988d122941735', '4bf58dd8d48988d11b941735', '56aa371ce4b08b9a8d57356c', '4bf58dd8d48988d11f941735']
rad_enter = '3000'
# Remoteness locations of interest. Airports
remoteness_loc = ['4bf58dd8d48988d1eb931735']
rad_remoteness = '50000'

for i, city in df_can.iterrows(): # for each city

    num_outdoor_loc = search_call_num_locs(city['lat'], city['lng'], rad_outd, outdoor_loc_interest)
    
    num_food_loc = search_call_num_locs(city['lat'], city['lng'], rad_food, food_loc)

    num_work_loc = search_call_num_locs(city['lat'], city['lng'], rad_work, work_loc)

    num_enter_loc = search_call_num_locs(city['lat'], city['lng'], rad_enter, entertainm_loc)

    num_remoteness_loc = search_call_num_locs(city['lat'], city['lng'], rad_remoteness, remoteness_loc)
    
    # Add data to the dataframe
    city_locs = city_locs.append({'city':city['city'], 'admin':city['admin'], 'outdoor':num_outdoor_loc, 'food':num_food_loc, 'work_opp':num_work_loc, 'entertainment':num_enter_loc, 'remoteness':num_remoteness_loc}, ignore_index=True)

In [286]:
city_locs.sort_values('city')

,city,admin,outdoor,food,work_opp,entertainment,remoteness
22,Abbotsford,British Columbia,31,50,0,4,11
0,Barrie,Ontario,15,50,0,9,5
5,Calgary,Alberta,25,50,1,12,42
8,Edmonton,Alberta,45,50,5,27,39
2,Halifax,Nova Scotia,47,30,1,43,16
20,Hamilton,Ontario,50,28,0,27,1
9,Kelowna,British Columbia,30,50,0,11,5
10,Kingston,Ontario,12,10,0,0,2
23,Kitchener,Ontario,50,19,1,6,2
21,London,Ontario,29,17,0,17,3
19,Moncton,New Brunswick,13,50,0,5,2
16,Montreal,Québec,33,50,6,17,21
12,Oshawa,Ontario,23,50,2,9,10
18,Ottawa,Ontario,50,50,2,50,15
13,Quebec,Québec,24,25,3,20,9
7,Red Deer,Alberta,6,50,0,9,2
6,Regina,Saskatchewan,3,50,0,12,2
1,Saskatoon,Saskatchewan,3,50,0,18,11
3,Toronto,Ontario,50,50,4,28,21
4,Vancouver,British Columbia,26,50,3,19,50
11,Victoria,British Columbia,50,40,0,9,26
14,Windsor,Ontario,45,14,2,13,21
15,Windsor,Nova Scotia,1,3,0,0,5
17,Winnipeg,Manitoba,35,48,2,21,26

In [287]:
# Merge city location data with the cost data
df_final = pd.merge(left=df_can, right=city_locs, on=['city', 'admin'], how='inner')
df_final

,city,admin,lat,lng,pop,living_indx,rent_indx,ppi,outdoor,food,work_opp,entertainment,remoteness
0,Barrie,Ontario,44.383333,-79.700000,182041,77.37,29.08,99.44,15,50,0,9,5
1,Saskatoon,Saskatchewan,52.133333,-106.666667,198958,74.26,26.16,103.89,3,50,0,18,11
2,Halifax,Nova Scotia,44.650000,-63.600000,359111,70.88,28.05,99.86,47,30,1,43,16
3,Toronto,Ontario,43.666667,-79.416667,5213000,70.19,44.28,99.45,50,50,4,28,21
4,Vancouver,British Columbia,49.250000,-123.133333,2313328,69.63,49.26,94.65,26,50,3,19,50
5,Calgary,Alberta,51.083333,-114.083333,1110000,68.93,29.85,138.51,25,50,1,12,42
6,Regina,Saskatchewan,50.450000,-104.616667,176183,68.46,28.00,112.05,3,50,0,12,2
7,Red Deer,Alberta,52.266667,-113.800000,74857,67.42,23.58,140.16,6,50,0,9,2
8,Edmonton,Alberta,53.550000,-113.500000,1058000,67.03,29.22,129.45,45,50,5,27,39
9,Kelowna,British Columbia,49.900000,-119.483333,125109,66.60,33.08,108.98,30,50,0,11,5
10,Kingston,Ontario,44.300000,-76.566667,114195,66.45,26.88,113.98,12,10,0,0,2
11,Victoria,British Columbia,48.450234,-123.343529,289625,66.17,38.10,106.89,50,40,0,9,26
12,Oshawa,Ontario,43.900000,-78.866667,450963,65.44,27.37,119.92,23,50,2,9,10
13,Quebec,Québec,46.800000,-71.250000,624177,65.07,16.10,140.18,24,25,3,20,9
14,Windsor,Ontario,42.301649,-83.030744,319246,64.42,21.98,109.87,45,14,2,13,21
15,Windsor,Nova Scotia,44.958995,-64.144786,3864,64.42,21.98,109.87,1,3,0,0,5
16,Montreal,Québec,45.500000,-73.583333,3678000,63.52,25.25,117.12,33,50,6,17,21
17,Winnipeg,Manitoba,49.883333,-97.166667,632063,63.15,23.70,115.79,35,48,2,21,26
18,Ottawa,Ontario,45.416667,-75.700000,1145000,62.88,30.26,144.70,50,50,2,50,15
19,Moncton,New Brunswick,46.096520,-64.797570,90635,61.15,17.69,112.73,13,50,0,5,2
20,Hamilton,Ontario,43.256101,-79.857484,721053,60.75,26.34,127.16,50,28,0,27,1
21,London,Ontario,42.983333,-81.250000,346765,59.15,23.08,118.79,29,17,0,17,3
22,Abbotsford,British Columbia,49.050000,-122.300000,151683,58.95,25.01,111.27,31,50,0,4,11
23,Kitchener,Ontario,43.446976,-80.472484,417001,58.93,25.38,129.74,50,19,1,6,2

In [235]:
# Cluster the cities in some usefull way

In [ ]:
X = df_final

In [288]:
df_final.columns

Index(['city', 'admin', 'lat', 'lng', 'pop', 'living_indx', 'rent_indx', 'ppi',
       'outdoor', 'food', 'work_opp', 'entertainment', 'remoteness'],
      dtype='object')